/* Sidebar Styling */

.sidebar {
    width: 250px;
    background-color: #39516c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;  /* Keep the sidebar sticky */
    top: 0;  /* Ensure it sticks to the top */
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(67, 17, 185, 0.1);
  }
  

  .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sidebar .menu {
    list-style: none;
  }
  
  .sidebar .menu li {
    margin: 15px 0;
  }
  
  .sidebar .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar .menu a:hover {
    background-color: #b8d5f4;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
      padding: 15px;
    }
  
    .sidebar .logo {
      font-size: 20px;
    }
  
    .sidebar .menu a {
      font-size: 14px;
      padding: 8px;
    }
  }
  