<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="/style/admin/sidebar1.css">

</head>

<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">Wrist Vibe</div>
      <ul class="menu">
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/products">Products</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/categories">Category</a></li>
        <li><a href="/admin/admin-order">Orders</a></li>
        <li><a href="/admin/coupon">Coupon</a></li>
        <li><a href="/admin/offer">Offer</a></li>
        <li><a href="/admin/salesReport">Sales Report</a></li>
      </ul>
    </aside>

    </div>
    </body>
    </html>